<!-- <div class="mt-4">
    <app-carousel></app-carousel>
</div> -->

<div class="intro">
    <div class="left">
        <div>
            <h2>ვებ<span class="sky-blue-text">შენი</span> იზრუნებს თქვენს <span class="sky-blue-text objective">{{introObjective}}</span> </h2>
            <p>პროექტის მიზანია გაკეთდეს პლატფორმა, რომელიც სასუალებას მისცემს მცირე და საშუალო ბიზნესებს, თავისი ხელით
                შექმნან საიტი ჩვენი ტემფლეითების და დიზაინების გამოყენებით.</p>
            <button class="btn bg-sky-blue">გაიგე მეტი</button>
        </div>

    </div>
    <div class="right">
        <img src="images/code-snipped.png" alt="">
    </div>
</div>
<div class="info-boxes">
    <div class="header">
        <h1>შექმენი ჩვენთან</h1>
        <p>
            პროექტის მიზანია გაკეთდეს პლატფორმა, რომელიც სასუალებას მისცემს მცირე და საშუალო ბიზნესებს,
            თავისი ხელით შექმნან საიტი ჩვენი ტემფლეითების და დიზაინების გამოყენებით.
        </p>
    </div>
    <div class="box-container">
        <div class="box">
            <div class="box-header">
                <i class="fa-duotone fa-solid fa-envelope sky-blue-text"></i>
                <h3>
                    ენველოპი
                </h3>
            </div>
            <div class="box-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aperiam ea eius unde facilis quidem.
                    Tenetur commodi vero ab? Necessitatibus quod libero eum ullam consequatur hic distinctio perferendis
                    labore placeat.
                    
                </p>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <i class="fa-sharp-duotone fa-solid fa-sliders sky-blue-text"></i>
                <h3>
                    ნასტროიკა
                </h3>
            </div>
            <div class="box-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aperiam ea eius unde facilis quidem.
                    Tenetur commodi vero ab? Necessitatibus quod libero eum ullam consequatur hic distinctio perferendis
                    labore placeat.
                    
                </p>
            </div>
        </div>
        <div class="box">
            <div class="box-header"><i class="fa-sharp-duotone fa-solid fa-binoculars sky-blue-text"></i>
                <h3>
                    დურბინდი
                </h3>
            </div>
            <div class="box-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aperiam ea eius unde facilis quidem.
                    Tenetur commodi vero ab? Necessitatibus quod libero eum ullam consequatur hic distinctio perferendis
                    labore placeat.
                    
                </p>
            </div>
        </div>
        <div class="box">
            <div class="box-header"><i class="fa-sharp-duotone fa-solid fa-sun sky-blue-text"></i>
                <h3>
                    ნასტროიკა
                </h3>
            </div>
            <div class="box-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aperiam ea eius unde facilis quidem.
                    Tenetur commodi vero ab? Necessitatibus quod libero eum ullam consequatur hic distinctio perferendis
                    labore placeat.
                    .
                </p>
            </div>
        </div>
    </div>
</div>